*{
    margin: 0px auto;
    padding: 0px;
}
.main{
    height: 1500px ;
    width: 1200px;
    background-color: black;
}
.header{
    height: 300px;
    width: 1200px;
    background-color: blue;
    color: white;
    font-size: 50px;
    text-align: 50px;
    line-height: 300px ;


}
.content{
    height: 900px;
}